packages/
*.suo
*.DotSettings
*.user
_ReSharper.*/
bin/
obj/
.nuget/
Debug/
Release/
.idea/
.vs/config/applicationhost.config
.vs/VkBot/DesignTimeBuild/.dtbcache
.vs/VkBot/v15/Server/sqlite3/db.lock
.vs/VkBot/DesignTimeBuild/.dtbcache
.vs/VkBot/v15/Server/sqlite3/storage.ide
.vs/VkBot/DesignTimeBuild/.dtbcache
.vs/VkBot/v15/Server/sqlite3/storage.ide-wal
.vs/VkBot/v15/Server/sqlite3/storage.ide-shm
.vs/VkBot/DesignTimeBuild/.dtbcache
.vs/VkBot/DesignTimeBuild/.dtbcache
.vs/VkBot/v16/Server/sqlite3/*
*storage.ide
*storage.ide-wal
